<!DOCTYPE html>
<html>
<head>
<link href="assets/css/terminal.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="assets/javascript/jquery-2.1.4.js"></script>
<script src="assets/javascript/terminalScript.js"></script>
<script src="assets/javascript/talker.js"></script>
</head>

<body>
<p>Hello</p>
<div id = "terminalWrap">
<div id = "terminal">
</div>
<p></p>
<p>Max Y Axis: <input id="commandLine" type="text" value="" style="text-align: left; width:100%;" placeholder = "Your command">
<button type="button" id = "terminalButton">Submit</button>
</p>
<button type="button" id = "freezeButton">FREEZE</button>
</div>
</body>
</html>